@charset "utf-8";
/* CSS Document */
.contain{
    background-image:url(../login/addbg1.png);
	width:100%;
	height:100%;
	overflow:hidden;
}
.addbody{
	width:100%;
	height:700px;
}
.adddiv{
    background-image: url(../login/addbg.png);
    margin-top: 5%;
	margin-left:35%;
	width:390px;
	height:372px;
}